.footer {
  display: none!important
}
.footer-wrapper: {
  display: none!important
}
#app table {
  margin: 0;
  td, th {
    border: none;
    border-right: 1px solid #ebeef5;
    border-bottom: 1px solid #EBEEF5;
  }
  th, tr {
    background-color: #FFF;
  }
}
